body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate {
  transition: 5s all;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(720deg);
}

.clickable {
  cursor: pointer;
}

.animated {
  animation: horizontal 1s ease-in-out infinite;
}

@keyframes horizontal {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(3px, 0);
  }
}
