body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rotate {
  transition: 5s all;
}

.rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(720deg);
}

.square {
  position: relative;
  width: 40%;
  height: 0px;
  margin: 0px 15px 15px 0px !important;
  border-radius: 25px;
  padding-bottom: 40% !important;
}

.square-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
